In [7]:
# imports
import pandas as pd
from ydata_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Pandas-Profile generate

df = pd.read_csv("../Dataset/daily_gym_attendance_workout_data.csv") # https://www.kaggle.com/datasets/zahranusratt/daily-gym-attendance-and-workout-activity-dataset
prof = ProfileReport(df)
prof.to_file(output_file = "GymDataAnalysis.html")

Summarize dataset:  13%|███▍                      | 2/15 [00:00<00:02,  6.32it/s, Describe variable: attendance_status]
Summarize dataset:  53%|█████████████▊            | 8/15 [00:00<00:00,  9.35it/s, Describe variable: attendance_status]
100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 17.78it/s]
Summarize dataset: 100%|████████████████████████████████████████████████████| 35/35 [00:04<00:00,  7.37it/s, Completed]
Generate report structure: 100%|█████████████████████████████████████████████████████████| 1/1 [00:04<00:00,  4.41s/it]
Render HTML: 100%|███████████████████████████████████████████████████████████████████████| 1/1 [00:01<00:00,  1.90s/it]
Export report to file: 100%|█████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 72.30it/s]

In [14]:
df.sample(5)

,member_id,visit_date,age,gender,membership_type,workout_type,workout_duration_minutes,calories_burned,check_in_time,attendance_status
1917,1918,2024-03-13,61,Male,Monthly,CrossFit,82,455,18:59,Absent
903,904,2024-01-24,27,Female,Quarterly,Cardio,111,1004,16:31,Absent
1306,1307,2024-08-29,19,Male,Monthly,HIIT,63,494,5:12,Present
536,537,2024-10-24,64,Other,Annual,HIIT,73,427,9:22,Absent
1128,1129,2024-06-13,41,Male,Annual,Cardio,93,664,5:04,Present

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   member_id                 2600 non-null   int64
 1   visit_date                2600 non-null   object
 2   age                       2600 non-null   int64
 3   gender                    2600 non-null   object
 4   membership_type           2600 non-null   object
 5   workout_type              2600 non-null   object
 6   workout_duration_minutes  2600 non-null   int64
 7   calories_burned           2600 non-null   int64
 8   check_in_time             2600 non-null   object
 9   attendance_status         2600 non-null   object
dtypes: int64(4), object(6)
memory usage: 203.3+ KB